
//playerDisplay.html styles
.tenPlayerColumn{
  @extend .layout-fill;
  display: flex;
  flex-flow: column;
}

.playerListRow{
  @extend .layout-fill;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}

.scoreboardTitle{
  @extend .md-headline;
  font-weight: bolder;
  flex: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.scoreboardItem{
  @extend .flexItem;
  padding-left: 2em;
}

.playerList{
  @extend .flexItem;
  display: flex;
  flex-flow: column;
}

//for the playerCard on the welcome screen
.playingPlayer{
  @extend .layout-fill;
  flex: 1 1 auto;
  position: relative;
  & .playingPlayerCardSide{
    @extend .cardFlip;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
    z-index: 5;
    padding: .25em;
    }
}

.playingPlayerCardFront{
  @extend .md-whiteframe-2dp;
  @extend .playingPlayerCardSide;
  @extend .offsetOppositeEdges;
  background-color: darken($cardBackground, 5%);
  .playingPlayer.flipped &{
    -webkit-transform: rotateX(-180deg);
  }
}

.playingPlayerCardBack{
  @extend .playingPlayerCardSide;
  @extend .offsetRoundedEdges;
  -webkit-transform: rotateX(-180deg);
  .playingPlayer.flipped &{
    -webkit-transform: rotateX(0);
  }
}

.playerNameCell{
  flex: 7 0 70%;
}

.playerScoreCell{
  flex: 3 0 30%;
}

.playerScore{
  flex: 2 0 auto;
}

.morePlayersName{
  width: 75%;
  flex: 2 0 auto;
}

.morePlayersScore{
  @extend .layout-fill;
  flex: 10 auto;
}

//player slip and response slip styles
.readyToAct{
  @extend .md-whiteframe-12dp;
}
.ready, .unguessedResponse{
  @extend .md-whiteframe-2dp;
}
.beingGuessed{
  @extend .md-whiteframe-15dp;
}
.inactive{
  font-weight: lighter;
  color: #999999;
}
.supressed{
  @extend .inactive;
  @extend .md-whiteframe-1dp;
  background-color: #CCCCCC;
}
.standby{
  @extend .supressed;
  color: #000000;
}

.slightlyRounded{
  border-radius: .5em;
}

.responseCard{
  @extend .slightlyRounded;
  z-index: 1;
  padding: .25em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  width: 80%;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.potentialPromptLeader{
  @extend .md-headline;
  font-weight: bold;
  flex: 1;
}

.potentialPrompt{
  @extend .responseCard;
  @extend .cardHue;
  @extend .md-whiteframe-6dp;
  padding: .75em;
  margin: .75em;
  flex: 4;
}

.finalPrompt{
  @extend .potentialPrompt;
  width: 75%;
  font-weight: bolder;
}

//for the playerCard on the welcome screen
.newPlayer{
  @extend .layout-fill;
  flex: 1 1 auto;
  position: relative;
  & .playerCardSide{
    @extend .cardFlip;
    @extend .md-whiteframe-2dp;
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    z-index: 5;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .25em;
  }
}

.playerCardFront{
  @extend .playerCardSide;
  @extend .offsetOppositeEdges;
  background-color: darken($cardBackground, 5%);
  .newPlayer.flipped &{
    -webkit-transform: rotateX(-180deg);
  }
}

.playerCardBack{
  @extend .playerCardSide;
  @extend .offsetRoundedEdges;
  background-color: $cardBackground;
  -webkit-transform: rotateX(-180deg);
  .newPlayer.flipped &{
    -webkit-transform: rotateX(0);
  }
}

//made for the response displays
.responseContainer{
  @extend .layout-fill;
  flex: auto;
  display: flex;
  flex-flow: row;
  padding-left: 3em;
}
.responsesOneColumn{
  flex: 8 1 80%;
}
.responsesOneColumnSpacer{
  flex: 2 1 20%;
}
.responsesTwoColumns{
  flex: 1 1 50%;
}
.responsesThreeColumns{
  flex: 1 1 33%;
}
