@import "variables";
@import "angular-material";

.gameplayContainer{
  flex: 8 0 auto;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.gameplaySubtitle{
  @extend .md-headline;
  @extend .md-whiteframe-2dp;
  padding-top: .25em;
  z-index: 9;
  text-indent: 2em;
}

//subbanners on gameplay screen
$subbannerBorderRadius: 2em;
//subbanner above gameplay area
.gameplayHeader{
  @extend .gameplaySubtitle;
  width: 80%;
  border-bottom-right-radius: $subbannerBorderRadius;
}

.gameMessageContainer{
  @extend .layout-fill;
  padding-left: 2em;
  padding-bottom: 2em;
}

.playerContainer{
  flex: 3 0 auto;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

//subbanner above scoreboard/playerlist
.playerHeader{
  @extend .gameplaySubtitle;
  border-bottom-left-radius: $subbannerBorderRadius;
}

.currentPhase{
  position: relative;
  flex: 8 0 auto;
  padding-right: 3em;
  padding-left: 1em;
  overflow: visible;
  height: inherit;
  width: 60%;
}

.gameContent{
  position: absolute;
  top: 5px;
  width: 100%;
}

//message toasts
.trueToast{
  background-color: $mutedRight;
}
.falseToast{
  background-color: $mutedWrong;
}
.unguessedToast{
  background-color: $unguessed;
  color: #000000;
}
