@import "variables";
@import "angular-material";

.gameplayContainer{
  flex: 0 0 65%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.gameTitleBar{
  @extend .md-display-3;
}

.gameSubitle{
  @extend .subtitle;
  font-weight: normal;
}

.gameplaySubtitle{
  @extend .md-whiteframe-2dp;
  font-size: $headline-font-size-base;
  font-weight: bolder;
  padding-top: .25em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  & div{
    text-indent: 3em;
  }
}

//subbanners on gameplay screen
$subbannerBorderRadius: 2em;
//subbanner above gameplay area
.gameplayHeader{
  @extend .gameplaySubtitle;
  background-color: #FF9800;
  z-index: 9;
}

.playerContainer{
  flex: 0 0 35%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  background-color: $scoreboardBackground;
}

//subbanner above scoreboard/playerlist
.playerHeader{
  @extend .gameplaySubtitle;
  background-color: #01579B;
  z-index: 10;
}

.currentPhase{
  position: relative;
  flex: 5 0 auto;
  padding-right: 3em;
  padding-left: 1em;
  overflow: visible;
  height: inherit;
  width: 70%;
}

.gameContent{
  position: absolute;
  top: 5px;
  width: 100%;
}

//message toasts
$toastBorderRadius: 1.25em;
.customToast{
  @extend .md-display-1;
}
.trueToast{
  @extend .customToast;
  background-color: $mutedRight;
}
.falseToast{
  @extend .customToast;
  background-color: $mutedWrong;
}
.unguessedToast{
  @extend .customToast;
  background-color: $unguessed;
  color: #000000;
}
.responseToast{
  border-bottom-left-radius: $toastBorderRadius/2;
  border-bottom-right-radius: $toastBorderRadius/2;
  border-top-right-radius: $toastBorderRadius;
  border-top-left-radius: $toastBorderRadius/2;
}
.playerToast{
  border-bottom-left-radius: $toastBorderRadius/2;
  border-bottom-right-radius: $toastBorderRadius/2;
  border-top-right-radius: $toastBorderRadius/2;
  border-top-left-radius: $toastBorderRadius;
}
