
//colors for responses and players when resolving guesses
$midGuessPulse: #2196F3;
$rightGuess: #00DD00;
$wrongGuess: #DD0000;
$unguessed: #FFFF00;

//toast colors
$mutedRight: darken($rightGuess, 10%);
$mutedWrong: darken($wrongGuess, 10%);

$bodyBackground: #E8EAF6;
$scoreboardBackground: #FFF3E0;
$cardBackground: #FFF8E1;
$displayBackground: #FFECB3;

 //card colors
$messageColor: darken($displayBackground, 10%);

//shared across
.cardHue{
  @extend .fastReturn;
  background-color: $cardBackground;
}
.offsetRoundedEdges{
  border-bottom-right-radius: .5em;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .25em;
  border-top-right-radius: .25em;
  text-indent: .5em;
}
.offsetOppositeEdges{
  border-bottom-right-radius: .25em;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .5em;
  border-top-right-radius: .5em;
  text-indent: .5em;
}
