//colors for responses and players when resolving guesses
$firstGuessPulse: #66FF66;
$midGuessPulse: #FFFF66;
$endGuessPulse: #FF6666;
$rightGuess: #00FF00;
$wrongGuess: #FF0000;
$unguessed: #FFFF00;

//toast colors
$mutedRight: darken($rightGuess, 10%);
$mutedWrong: darken($wrongGuess, 10%);

$bodyBackground: #E8EAF6;
$cardBackground: #FFF8E1;
$displayBackground: #FFECB3;

 //card colors
$messageColor: darken($displayBackground, 10%);
