@import "variables";
@import "angular-material";

.header{
  @extend .md-shadow-bottom-z-2;
  @extend .md-tall;
  z-index:10;
  //flex properties
  flex: auto;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: flex-end;
}

.toolbar{
  @extend .md-toolbar-tools;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-around;
}

.titleBar{
  @extend .md-display-2;
}
.subtitle{
  @extend .md-display-1;
}

.gameContainer{
  overflow: hidden;
  flex: auto;
  display: flex;
  flex-flow: row;
  align-items : stretch;
}

.welcomeBox{
  flex: 4 0 auto;
  order: 2;
  width: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  @extend .md-whiteframe-4dp;
  padding-top: 2em;
  background-color: $displayBackground;
  z-index: 9;
  & .rulesBox{
    @extend .md-title;
    // flex: auto;
    background-color: $messageColor;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: darken($messageColor, 20%);
    // height:30%;
    width:60%;
  }
}

.spacer{
  flex: 2 0 auto;
  width: 0;
}

.welcomeText{
  @extend .subtitle;
  flex: auto;
  font-weight: bolder;
  text-align: center;
}

.joinedList{
  flex: 3 0 auto;
  width: 0;
  display: flex;
  flex-flow: row;
}

.readyList{
  order: 3;
  flex: 3 0 auto;
  width: 0;
  display: flex;
  flex-flow: row;
}

.sublist{
 flex: 1 0 auto;
 width: 0;
 display: flex;
 flex-flow: row;
}

.offsetRoundedEdges{
  border-bottom-right-radius: .5em;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .25em;
  border-top-right-radius: .25em;
  text-indent: .5em;
}
.offsetOppositeEdges{
  border-bottom-right-radius: .25em;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .5em;
  border-top-right-radius: .5em;
  text-indent: .5em;
}

.playerSlip{
  @extend .offsetRoundedEdges;
  font-weight: bold;
  font-size: 1.5em;
  z-index: 5;
  padding: .25em;
}
