@import "variables";
@import "angular-material";

.header{
  @extend .md-shadow-bottom-z-2;
  z-index:10;
}

.titleBar{
  @extend .md-display-2;
}
.subtitle{
  @extend .md-display-1;
}

.welcomeContainer{
  overflow: hidden;
}

.welcomeBox{
  @extend .layout-fill;
  @extend .md-whiteframe-4dp;
  background-color: $displayBackground;
  z-index: 9;
}

.welcomeText{
  @extend .subtitle;
  font-weight: bolder;
  text-align: center;
}

.offsetRoundedEdges{
  border-bottom-right-radius: .5em;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .25em;
  border-top-right-radius: .25em;
  text-indent: .5em;
}

.playerSlip{
  @extend .offsetRoundedEdges;
  font-weight: bold;
  font-size: 1.5em;
  z-index: 5;
  padding: .25em;
}

.newPlayer{
  @extend .cardHue;
  @extend .playerSlip;
  @extend .md-whiteframe-2dp;
}
.cardHue{
  background-color: $cardBackground;
}
