//index for all the styles in the app

@import "angular-material";
@import "animations";
@import "variables";
@import "gameplay";
@import "welcome";

body{
  background-color: $bodyBackground;
  overflow: hidden;
  font-family: $font-family;
}

.flexRow{
  display: flex;
  flex-flow: row;
}

.flexItem{
  @extend .layout-fill; 
  flex: auto;
}
