h3{
	font-variant: small-caps;
}
.container-fluid{
	height: 100%;
}
.top{
	height: 20%;
} 
.mid{
	height: 60%;
}
.third{
	height: 33%;
}
.bot{
	height: 100% - 20%;
}
.col-lg-4, .col-lg-2, .col-lg-6{
	height: 100%;
}
.fill{
	height: 100% - 50%;
}
.sign{
	background-color: #FF7400;
	text-align: center;
	font-family: Impact;
	color: #A84C00;
}
.odd{
	background-color:#FFC89A;
}
.even{
	background-color:#FFF8F3;
}
