<div ng-if="responses.length<=6" layout-fill layout="row">
  <div flex offset="15">
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="response in responses">
        <div class="responseCard cardHue unguessedResponse" flex="80" response-guess-display="response" layout-align="space-between center">
          <div response-slip="response"></div>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div flex="20"></div>
</div>
<div ng-if="responses.length>6 && responses.length<=14" layout-fill layout="row">
  <div flex="45" offset="5">
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="response in responses | limitTo:7">
        <div class="responseCard cardHue unguessedResponse" flex="80" response-guess-display="response" layout-align="space-between center">
          <div response-slip="response"></div>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div flex="45">
      <md-list>
        <md-list-item class="md-1-line" ng-repeat="response in responses | limitTo:7:7">
          <div class="responseCard cardHue unguessedResponse" flex="80" response-guess-display="response" layout-align="space-between center">
            <div response-slip="response"></div>
          </div>
        </md-list-item>
      </md-list>
    </div>
</div>
<div ng-if="responses.length>14" layout-fill layout="row">
  <div flex="33">
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="response in responses | limitTo:7">
        <div class="responseCard cardHue unguessedResponse" flex="80" response-guess-display="response" layout-align="space-between center">
          <div response-slip="response"></div>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div flex="33">
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="response in responses | limitTo:7:7">
        <div class="responseCard cardHue unguessedResponse" flex="80" response-guess-display="response" layout-align="space-between center">
          <div response-slip="response"></div>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div flex="33">
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="response in responses | limitTo:7:14">
        <div class="responseCard cardHue unguessedResponse" flex="80" response-guess-display="response" layout-align="space-between center">
          <div response-slip="response"></div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
