<div ng-if="players.length<=10" layout-fill layout="column">
	<div class="scoreboardTitle" layout="row" layout-align="space-between start">
		<div flex="30" flex-offset="5">
			Player Name
		</div>
		<div flex="30">
			Score
		</div>
	</div>
	<md-list layout-fill layout="column">
		<md-list-item class="md-1-line" ng-repeat="player in players | orderBy: '-score'">
			<md-whiteframe class="playerSlip cardHue" player-guess-display="player" ng-class="{readyToAct:player.waitingForAction>0, supressed:player.waitingForAction<0, ready:player.waitingForAction===0, inactive:player.guessed}" layout="row" layout-align="space-between center" layout-fill>
				<div flex="30">
					{{player.playerName}}
				</div>
				<div flex="30" layout="row">
					<span flex="70">
						{{player.score}}
					</span>
					<span flex="30" number-iterator="player.scoreToAdd" base-number="player.score">
					</span>
				</div>
			</md-whiteframe>
		</md-list-item>
	</md-list>
</div>
<div ng-if="players.length>10" layout-fill layout="row" layout-align="space-between start">
	<div flex="50">
		<div class="scoreboardTitle" layout="row" layout-align="space-between start">
			<div flex="30" flex-offset="5">
				Player Name
			</div>
			<div flex="30">
				Score
			</div>
		</div>
		<md-list layout-fill layout="column">
			<md-list-item class="md-1-line" ng-repeat="player in players | orderBy: '-score' | limitTo:10">
				<md-whiteframe class="playerSlip cardHue" player-guess-display="player" ng-class="{readyToAct:player.waitingForAction>0, supressed:player.waitingForAction<0, ready:player.waitingForAction===0, inactive:player.guessed}" layout="row" layout-align="space-between center" layout-fill>
					<div flex="30">
						{{player.playerName}}
					</div>
					<div flex="30" layout="row">
						<span flex="70">
							{{player.score}}
						</span>
						<span flex="30" number-iterator="player.scoreToAdd" base-number="player.score">
						</span>
					</div>
				</md-whiteframe>
			</md-list-item>
		</md-list>
	</div>
	<div flex="50">
		<div class="scoreboardTitle" layout="row" layout-align="space-between start">
			<div flex="30" flex-offset="5">
				Player Name
			</div>
			<div flex="30">
				Score
			</div>
		</div>
		<md-list layout-fill layout="column">
			<md-list-item class="md-1-line" ng-repeat="player in players | orderBy: '-score' | limitTo:10:10">
				<md-whiteframe class="playerSlip cardHue" player-guess-display="player" ng-class="{readyToAct:player.waitingForAction>0, supressed:player.waitingForAction<0, ready:player.waitingForAction===0, inactive:player.guessed}" layout="row" layout-align="space-between center" layout-fill>
					<div flex="30">
						{{player.playerName}}
					</div>
					<div flex="30" layout="row">
						<span flex="70">
							{{player.score}}
						</span>
						<span flex="30" number-iterator="player.scoreToAdd" base-number="player.score">
						</span>
					</div>
				</md-whiteframe>
			</md-list-item>
		</md-list>
	</div>
</div>
