<md-toolbar class="header">
	<div class="toolbar">
		<div class="subtitle">Players Joined</div>
		<div class="titleBar">Welcome to {{gameName}}!</div>
		<div class="subtitle">Players Ready</div>
	</div>
</md-toolbar>
<div class="gameContainer">
	<!-- main content -->
	<div class="welcomeBox">
		<div class="welcomeText">
			<div>
				<md-button ng-if="readyPlayers.length+joinedPlayers.length<20" class="md-raised md-accent" ng-click="incomingPlayer()">PendPlayer</md-button>
			  <md-button ng-if="incomingPlayerCount>0" class="md-raised md-accent" ng-click="plusPlayer()">NamePlayer</md-button>
			  <md-button ng-if="readyPlayers.length+joinedPlayers.length>=5" class="md-raised md-accent" ng-click="readyPlayer()">Ready</md-button><br />
			</div>
			<p class="winners">{{message}}</p>
			<p class="endGameMessage">{{banner}}</p>
		</div>
		<div class="spacer">
		</div>
		<div class="spacer"></div>
	</div>
	<!-- left panel -->
	<div class="joinedList">
		<md-list class="sublist">
			<md-list-item class="md-1-line joined" ng-repeat="player in joinedPlayers|limitTo:10:10">
				<div class="newPlayer">
					{{player.playerName}}
				</div>
			</md-list-item>
		</md-list>
		<md-list flex="sublist">
			<md-list-item class="md-1-line joined" ng-repeat="player in joinedPlayers|limitTo:10">
				<div class="newPlayer">
					{{player.playerName}}
				</div>
			</md-list-item>
		</md-list>
	</div>
	<!-- right panel -->
	<div class="readyList">
		<md-list class="sublist">
			<md-list-item class="md-1-line readied" ng-repeat="player in readyPlayers|limitTo:10">
				<div class="newPlayer">
					{{player.playerName}}
				</div>
			</md-list-item>
		</md-list>
		<md-list class="sublist">
			<md-list-item class="md-1-line readied" ng-repeat="player in readyPlayers|limitTo:10:10">
				<div class="newPlayer">
					{{player.playerName}}
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
