
<div class="row">
  <div class='col-lg-12 header'>
    <span id="banner">{{gamename}}</span>
    <br />
    <span id="sub-banner">Join {{owner}} party!</span><button ng-click="nameIt()">nameIt</button>
  </div>
</div>
<div class="row fill">
    <div class='col-lg-8 fill'>
      <span id="main-event">This is where the game happens</span>
      <button type="button" ng-click="changeView('/welcome')">Main</button>
    </div>
    <div class='col-lg-4 fill'>
      <button ng-click="pendPlayer()">PendPlayer</button>
      <button ng-click="plusPlayer()">AddPlayer</button>
      <button ng-click="morePoints()">5 points</button><br />
      <span id="player-banner">Players</span>
      <div class="playerSlip" ng-repeat="player in players">
        <player-display info="player"></player-display>
      </div>
    </div>
</div>