<md-toolbar class="header">
	<div class="toolbar">
		<div class="subtitle"></div>
		<div class="gameTitleBar">{{gameName}}!</div>
		<div class="gameSubtitle">{{ownerName}} Game</div>
	</div>
</md-toolbar>
<div class="gameContainer" guess-display="guesses">
  <div class="gameplayContainer">
    <md-toolbar class="md-accent gameplayHeader">
      <div>{{gameHeader}}</div>
    </md-toolbar>
    <div game-message-slip="gameMessage"></div>
    <div ng-switch on="currentState" class="currentPhase">
      <div class="gameContent" ng-switch-when="ReadyToStart" prompt-request prompts="prompts"></div>
      <div class="gameContent" ng-switch-when="PromptChosen" response-request prompt="finalPrompt"></div>
      <div class="gameContent" ng-switch-when="ResponsesReceived" guess-request responses="responses"></div>
      <div class="gameContent" ng-switch-when="GuessesDisplayed" guesses-displayed></div>
      <div class="gameContent" ng-switch-when="RoundEnd" round-results></div>
      <div class="gameContent" ng-switch-default prompt-request prompts="prompts"></div>
    </div>
  </div>
  <div class="playerContainer">
    <md-toolbar class="md-accent playerHeader">
      <div>Scoreboard</div>
    </md-toolbar>
    <div ng-switch on="currentState">
			<div ng-switch-when="ReadyToStart">
      	<md-button class="md-raised md-primary" ng-click="sendVotes()">Vote</md-button>
			</div>
			<div ng-switch-when="PromptChosen">
      	<md-button class="md-raised md-primary" ng-click="sendResponses()">Respond</md-button>
			</div>
			<div ng-switch-when="ResponsesReceived">
	      <md-button class="md-raised md-primary" ng-click="sendGuesses()">Random Guess</md-button>
	      <md-button class="md-raised md-primary" ng-click="guessRight()">Guess Right</md-button>
      	<md-button class="md-raised md-primary" ng-click="kingMaker()">King Maker</md-button>
			</div>
			<div ng-switch-default>
				<md-button class="md-raised md-primary" ng-click="sendVotes()">Vote</md-button>
			</div>
		</div>
		<div ng-if="players.length<18">
			<md-button class="md-raised md-primary" ng-click="incomingPlayer()">PendPlayer</md-button>
			<md-button class="md-raised md-primary" ng-click="plusPlayer()">NamePlayer</md-button>
		</div>
		<div class="flexItem" player-display players="players" guessing="currentlyGuessing"></div>
  </div>
</div>
