
	<div class='top row'>
		<div class='col-lg-2 odd'>
		</div>
		<div class='col-lg-2 even'>
		</div>
		<div class='col-lg-2 odd'>
			<button ng-click="changeView('/gameplay')">
			Play {{gamename}}
			</button>
		</div>
		<div class='col-lg-2 even'>
		</div>
		<div class='col-lg-2 odd'>
		</div>
		<div class='col-lg-2 even'>
		</div>
	</div>
	<div class='mid row'>
		<div class='col-lg-4'>
			<div class='third row'>
				<div class='col-lg-6 even'>
				</div>
				<div class='col-lg-6 odd'>
				</div>	
			</div>
			<div class='third row'>
				<div class='col-lg-6 odd'>
				</div>
				<div class='col-lg-6 even'>
				</div>	
			</div>
			<div class='third row'>
				<div class='col-lg-6 even'>
				</div>
				<div class='col-lg-6 odd'>
				</div>	
			</div>
		</div>
		<div class='col-lg-4 sign'>
				<h1>Welcome to {{gamename}}!</h1>
				<h3>Join {{owner}} party!</h3>
		</div>
		<div class='col-lg-4'>
			<div class='third row'>
				<div class='col-lg-6 even'>
				</div>
				<div class='col-lg-6 odd'>
				</div>	
			</div>
			<div class='third row'>
				<div class='col-lg-6 odd'>
				</div>
				<div class='col-lg-6 even'>
				</div>	
			</div>
			<div class='third row'>
				<div class='col-lg-6 even'>
				</div>
				<div class='col-lg-6 odd'>
				</div>	
			</div>
		</div>
	</div>
	<div class='bot row'>
		<div class='col-lg-2 odd'>
		</div>
		<div class='col-lg-2 even'>
		</div>
		<div class='col-lg-2 odd'>
		</div>
		<div class='col-lg-2 even'>
		</div>
		<div class='col-lg-2 odd'>
		</div>
		<div class='col-lg-2 even'>
		</div>
	</div>
	</div>
