<md-toolbar class="header">
	<div class="toolbar">
		<div class="subtitle">Players Joined</div>
		<div class="titleBar">Welcome to {{gameName}}!</div>
		<div class="subtitle">Players Ready</div>
	</div>
</md-toolbar>
<div class="gameContainer">
	<!-- main content -->
	<div class="welcomeBox">
		<div class="welcomeText">
			<!-- buttons only appear in the demo version, not the final -->
			<div>
				<md-button ng-if="readyPlayers.length+joinedPlayers.length<20" class="md-raised md-accent" ng-click="incomingPlayer()">PendPlayer</md-button>
				<md-button ng-if="gameName==='Party Things Demo'&&incomingPlayersExist" class="md-raised md-accent" ng-click="nameIt()">NameIt</md-button>
			  <md-button ng-if="incomingPlayersExist&&gameName!=='Party Things Demo'" class="md-raised md-accent" ng-click="plusPlayer()">NamePlayer</md-button>
			  <md-button ng-if="playersWaitingForReadyCount+readyPlayers.length>=5" class="md-raised md-accent" ng-click="readyPlayer()">Ready</md-button>
				<md-button ng-if="readyPlayers.length+joinedPlayers.length>0" class="md-raised md-accent" ng-click="removePlayer()">DropPlayer</md-button><br />
				<md-button ng-if="gameName==='Party Things Demo'&&readyPlayers.length+joinedPlayers.length===0" class="md-raised md-accent" ng-click="primeIt()">Click FIRST to skip to Gameplay</md-button>
			</div>
	  	{{message}}
		</div>
		<div class="rulesBox">
			{{rules}}
		</div>
		<div class="spacer"></div>
	</div>
	<!-- left panel -->
	<div class="joinedList">
		<md-list flex="sublist">
			<md-list-item class="md-1-line joined" ng-repeat="player in joinedPlayers|limitTo:10:10">
				<div player-card="player" class="newPlayer"></div>
			</md-list-item>
		</md-list>
		<md-list flex="sublist">
			<md-list-item class="md-1-line joined" ng-repeat="player in joinedPlayers|limitTo:10">
				<div player-card="player" class="newPlayer"></div>
			</md-list-item>
		</md-list>
	</div>
	<!-- right panel -->
	<div class="readyList">
		<md-list flex="sublist">
			<md-list-item class="md-1-line readied" ng-repeat="player in readyPlayers|limitTo:10">
				<div player-card="player" class="newPlayer"></div>
			</md-list-item>
		</md-list>
		<md-list flex="sublist">
			<md-list-item class="md-1-line readied" ng-repeat="player in readyPlayers|limitTo:10:10">
				<div player-card="player" class="newPlayer"></div>
			</md-list-item>
		</md-list>
	</div>
</div>
