#banner{
	font-family: Impact;
	font-size: 3em;
}
#sub-banner{
	font-family: Arial;
	font-size: 1em;
}
#main-event{
	font-family: Arial;
	font-size: 2em;
	font-weight: bold;
	padding: .15em;
	text-decoration:underline;
}
#player-banner{
	font-family: Arial;
	font-size: 2em;
	font-weight: bold;
	padding: .15em;
	padding-right:2em; 
	padding-left: 2em;
	border: double 4px black;
	margin-bottom: 2em;
}
