html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
h1{
	font-family:Impact;
}
#container{
	height:100%;
	width:100%;
}
#header{
	background-color: #500000;
	color: #00C000;
	position:absolute;
	top:0;
	margin:auto;
	text-align:center;
	height:6em;
	width:100%;
}
#content{
	position:absolute;
	top:6em;
	height:100%;
	width:100%;	
}
#main{
	position:absolute;
	width:65%;
	top:0;
	left:0;
	background-color: #005000;
	color: #00000C0;
	padding:1em;
	height:100%;
	text-align: center;
}
#players{
	position:absolute;
	top:0;
	right:0;
	width:35%;
	background-color: #000050;
	color: #C00000;
	padding:1em;
	height:100%;
	text-align: center;
}
.playerSlip{
	position:relative;
	margin: auto;
	padding-top:1em;
}
